This assignment consists of five questions for a total of 75 points. Submit your results as a .py file via your GitHub repository.

In [1]:
#1. Import numpy as np and print the version number. (5 Points)
import numpy as np
print("1: NumPy Version:" , np.__version__)

1: NumPy Version: 2.1.2

In [2]:
#2. Create a 1D array of numbers from 0 to 9. Desired output:
#> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]) (10 Points)
arr_1d = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr_1d)

[0 1 2 3 4 5 6 7 8 9]

In [3]:
#3. Import a dataset with numbers and texts keeping the text intact in python numpy. Use the iris dataset available from 
#https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data Links to an external site.. (20 Points)
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url , header = None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#4. Find the position of the first occurrence of a value greater than 1.0 in petalwidth 4th column of iris dataset. Use the iris dataset available from 
#https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.dataLinks to an external site.. (20 Points)
for row in iris.index:
    if iris[3][row] > 1:
        print('4. Row #:' , row)
        break

4. Row #: 50

In [5]:
#5. From the array a, replace all values greater than 30 to 30 and less than 10 to 10.
#Input:

#np.random.seed(100)
#a = np.random.uniform(1,50, 20) (20 Points)

np.random.seed(100)
a = np.random.uniform(1, 50, 20)
print(a)

mask = (a > 30) | (a < 10)
a[mask] = np.where(a[mask] > 30, 30, 10)
print(a)

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]
[27.62684215 14.64009987 21.80136195 30.         10.         10.
 30.         30.         10.         29.17957314 30.         11.25090398
 10.08108276 10.         11.76517714 30.         30.         10.
 30.         14.42961361]